.movie-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 425px;
    width: min-content;
    border-radius: 2.5px;
    background-color: #222222;
    margin: 5px;
    padding: 10px;
}

.movie-title {}

.movie-rating {
    height: auto;
    width: min-content;
    background-color: #101010;
    padding: 5px;
}

.movie-genres {
    list-style: inside;
}

.movie-poster {
    height: auto;
    width: 233px;
}