header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    background-color: #222;
    padding: 10px 0;
}